---
import { profile } from '../../settings'

const { fullName } = profile
---

<footer class="text-center text-sm text-purple-700 py-6 mt-4">
  <p>Copyright © {new Date().getFullYear()} - All rights reserved by Nusaibah Binte Rawnak</p>
</footer>
