---
import { Image } from 'astro:assets'

import SocialIcons from './SocialIcons.astro'


const {fullName, title, institute} = Astro.props
---
<div class='flex-1 flex flex-col justify-center items-start text-left h-screen pl-0 pt-0 ml-0'>
  <h1 class="text-9xl font-extrabold mb-4 leading-tight">Hey, I'm Nusaibah.</h1>
  <p class='text-2xl text-gray-700 mb-6 italic'>
    A Cognitive Science student passionate about AI, NLP, and data-driven solutions.
  </p>
  <h2 class="text-6xl text-secondary font-mono">
    I build <span id="rotating-text" class="text-secondary"></span><span class="blinking-cursor">|</span>
  </h2>
  <div class='flex gap-4'>
    <SocialIcons />
  </div>
</div>
<script>
  const phrases = [
    "ML models.",
    "NLP applications.",
    "data insights."
  ];

  let i = 0;
  let j = 0;
  let currentPhrase = [];
  let isDeleting = false;
  let isEnd = false;
  const textElement = document.getElementById("rotating-text");

  function loop() {
    isEnd = false;
    textElement.textContent = currentPhrase.join("");

    if (i < phrases.length) {
      if (!isDeleting && j <= phrases[i].length) {
        currentPhrase.push(phrases[i][j]);
        j++;
        textElement.textContent = currentPhrase.join("");
      }

      if (isDeleting && j <= phrases[i].length) {
        currentPhrase.pop(phrases[i][j]);
        j--;
        textElement.textContent = currentPhrase.join("");
      }

      if (j === phrases[i].length) {
        isEnd = true;
        isDeleting = true;
      }

      if (isDeleting && j === 0) {
        currentPhrase = [];
        isDeleting = false;
        i++;
        if (i === phrases.length) {
          i = 0;
        }
      }
    }
    const spedUp = Math.random() * (30 - 15) + 15;
    const normalSpeed = Math.random() * (100 - 70) + 70;
    const time = isEnd ? 2000 : isDeleting ? spedUp : normalSpeed;
    setTimeout(loop, time);
  }

  loop();
</script>
<style>
  .blinking-cursor {
    display: inline-block;
    margin-left: 2px;
    width: 1ch;
    animation: blink 1s step-start infinite;
    color: #6b7280; /* Tailwind gray-500 */
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
</style>